@model IEnumerable<PTMGroup.Admin.Models.ViewModels.Model_PartnerList>

@{
    ViewBag.Title = "شرکا";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}




<div class="panel panel-body panel-default navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>@ViewBag.Title</b></h4>
    </div>

    <div class="pull-right">
        <a href="javascript:void(0)" onclick="Create()" data-toggle='tooltip' data-placement='auto' title='افزودن کاربر'>
            <i class="glyphicon glyphicon-plus navigation-btn-icon"></i>
        </a>
    </div>

</div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">

        <table id="DateTable" class="table table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Login)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Tital)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Document)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>

                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Login)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Tital)</span>
                        </td>
                        <td scope="row">
                            <a href="@Url.Action("Download","FileManager", new { Key = item.Document })">
                                <img src="@Url.Action("Download","FileManager", new { Key = item.Document })" alt="Alternate Text" style="height:100px; width:auto" />
                            </a>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.IsActive)</span>
                        </td>
                        <td>
                            <a class="control btn btn-warning btn-sm glyphicon glyphicon-pencil" data-toggle='tooltip' data-placement='auto' title='ویرایش' href="javascript:void(0)" onclick="Edit(@item.ID)"></a>
                            <a class="control btn btn-danger btn-sm glyphicon glyphicon-trash" data-toggle='tooltip' data-placement='auto' title='حذف' href="javascript:void(0)" onclick="Delete(@item.ID)"></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

@Html.Partial("_Modal")

@section Modal {

    <script>

        function Delete(id) {
            $.ajax({
                url: "/Setting/Partner_Delete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف شرکا');
                $('#myModalBody').html(result);
            });
        }

        function Create() {
            $.ajax({
                url: "/Setting/Partner_Add",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن شرکا');
                $('#myModalBody').html(result);
            });
        }

        function Edit(id) {
            $.ajax({
                url: "/Setting/Partner_Edit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش شرکا');
                $('#myModalBody').html(result);
            });
        }

    </script>

}

